# Базка PostgreSQL
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=

# Моделька анализатор
LLM=qwen2.5:1.5b

# Анализатор
PORT_ANALYZER=

# Размерность векторов для FAISS индекса
EMBEDDING_DIM=

# Redis
CACHE_TTL=604800# 7 days

# Copy to .env and fill in real values
LANGFUSE_PUBLIC_KEY=pk-lf-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LANGFUSE_SECRET_KEY=sk-lf-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
